@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-dark: #232323;
    --color-light: #e7e7e7;
}

@font-face {
    font-family: 'Exil71';
    src: url('/fonts/EXIL71.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nmRegular';
    src: url('/fonts/NeueMontreal-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'nmRegular', serif;
    width: 100%;
    user-select: none;
}

.noise {
    background-image: url("/images/about/noise.png");
    background-repeat: repeat;
    animation: tvNoise 0.1s infinite linear;
}

@keyframes tvNoise {
    0% {
        background-position: 0 0;
    }
    10% {
        background-position: 30px 30px;
    }
    20% {
        background-position: -30px -30px;
    }
    30% {
        background-position: 50px -20px;
    }
    40% {
        background-position: -20px 50px;
    }
    50% {
        background-position: 40px 40px;
    }
    60% {
        background-position: -50px -30px;
    }
    70% {
        background-position: 0 30px;
    }
    80% {
        background-position: 30px 0;
    }
    90% {
        background-position: -30px 30px;
    }
    100% {
        background-position: 0 0;
    }
}
